In [2]:
import pandas as pd
import importlib
import sys
sys.path.append('../src')
import data
importlib.reload(data)
from data import save_data, load_data, manipulate_data, check_for_na, check_data_type, test_unit_dtype, test_unit_less_than_or_greater_than, test_unit_between

In [3]:
df_USA_2018_2019 = load_data('../data/raw/revised-seasonally-adjusted-indexes-2021.xlsx', '.xlsx')
df_Canada_2018_2019 = load_data('../data/raw/18100004.csv', '.csv')

/Users/richardwcheng/Library/Python/3.9/lib/python/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/Users/richardwcheng/Desktop/GoodsComparison2018Tariffs/notebooks/../src/data/make_dataset.py:29: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(input_filepath)

In [4]:
df_USA_2018_2019.head(20)

,ITEM,TITLE,seriesid,DATA_TYPE,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,SA0,All items,CUSR0000SA0,SEASONALLY ADJUSTED INDEX,2017,243.618,244.006,243.892,244.193,244.004,244.163,244.243,245.183,246.435,246.626,247.284,247.805
1,SA0,All items,CUSR0000SA0,SEASONALLY ADJUSTED INDEX,2018,248.743,249.439,249.581,250.146,250.779,251.118,251.323,251.749,252.239,252.862,252.657,252.551
2,SA0,All items,CUSR0000SA0,SEASONALLY ADJUSTED INDEX,2019,252.470,253.135,254.273,255.163,255.325,255.361,255.900,256.179,256.596,257.305,257.788,258.263
3,SA0,All items,CUSR0000SA0,SEASONALLY ADJUSTED INDEX,2020,258.682,259.007,258.165,256.094,255.944,257.217,258.543,259.580,260.190,260.352,260.721,261.564
4,SA0,All items,CUSR0000SA0,SEASONALLY ADJUSTED INDEX,2021,262.200,263.346,265.028,266.727,268.599,270.955,272.184,273.092,274.214,276.590,278.524,280.126
5,SA0,All items,CUSR0000SA0,SEASONAL FACTOR,2017,99.680,99.835,99.963,100.136,100.299,100.324,100.222,100.137,100.156,100.015,99.751,99.483
6,SA0,All items,CUSR0000SA0,SEASONAL FACTOR,2018,99.648,99.820,99.989,100.160,100.323,100.347,100.272,100.158,100.079,100.009,99.755,99.478
7,SA0,All items,CUSR0000SA0,SEASONAL FACTOR,2019,99.700,99.858,99.972,100.151,100.300,100.306,100.262,100.148,100.064,100.016,99.775,99.501
8,SA0,All items,CUSR0000SA0,SEASONAL FACTOR,2020,99.725,99.873,99.981,100.115,100.176,100.225,100.216,100.130,100.035,100.014,99.811,99.583
9,SA0,All items,CUSR0000SA0,SEASONAL FACTOR,2021,99.764,99.874,99.943,100.123,100.222,100.273,100.301,100.174,100.035,100.000,99.793,99.527
10,SA0,All items,CUSR0000SA0,UNADJUSTED INDEX,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524
11,SA0,All items,CUSR0000SA0,UNADJUSTED INDEX,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233
12,SA0,All items,CUSR0000SA0,UNADJUSTED INDEX,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974
13,SA0,All items,CUSR0000SA0,UNADJUSTED INDEX,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,260.388,260.229,260.474
14,SA0,All items,CUSR0000SA0,UNADJUSTED INDEX,2021,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.310,276.589,277.948,278.802
15,SA0E,Energy,CUSR0000SA0E,SEASONALLY ADJUSTED INDEX,2017,205.369,204.133,202.528,202.954,198.449,197.808,195.994,201.450,212.723,208.328,213.047,213.574
16,SA0E,Energy,CUSR0000SA0E,SEASONALLY ADJUSTED INDEX,2018,216.872,220.381,216.925,218.268,220.632,221.473,219.758,222.435,223.444,226.462,219.267,212.633
17,SA0E,Energy,CUSR0000SA0E,SEASONALLY ADJUSTED INDEX,2019,205.540,208.699,216.376,221.758,219.680,214.666,215.850,213.169,213.122,216.620,217.435,219.786
18,SA0E,Energy,CUSR0000SA0E,SEASONALLY ADJUSTED INDEX,2020,217.803,214.119,203.912,182.889,179.542,188.437,192.556,194.285,196.875,196.435,196.359,203.649
19,SA0E,Energy,CUSR0000SA0E,SEASONALLY ADJUSTED INDEX,2021,209.328,218.944,231.127,228.374,229.874,234.625,238.447,242.958,245.847,255.010,261.257,263.553

In [5]:
df_USA_2018_2019.sample(20)

,ITEM,TITLE,seriesid,DATA_TYPE,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1338,SEEC,Postage and delivery services,CUSR0000SEEC,SEASONALLY ADJUSTED INDEX,2020,198.625,200.113,200.597,201.222,201.786,202.640,203.514,204.189,204.610,204.492,204.962,205.513
2593,SERAC,Video and audio products,CUSR0000SERAC,UNADJUSTED INDEX,2020,36.866,36.953,37.080,36.849,36.760,36.556,36.658,37.073,37.212,37.218,36.744,36.593
5119,SEFM01,Canned fruits and vegetables,CWSR0000SEFM01,SEASONALLY ADJUSTED INDEX,2021,171.174,170.708,171.774,172.574,173.038,172.909,174.711,174.101,173.633,177.148,177.840,178.136
4581,SEEB01,College tuition and fees,CWSR0000SEEB01,SEASONAL FACTOR,2018,100.112,99.952,99.652,99.462,99.312,99.325,99.388,100.121,100.749,100.818,100.631,100.399
4668,SEEE,"Information technology, hardware and services",CWSR0000SEEE,SEASONALLY ADJUSTED INDEX,2020,8.030,8.028,8.000,8.013,7.999,7.982,7.971,7.964,7.929,7.912,7.950,7.956
382,SAEC,Education and communication commodities,CUSR0000SAEC,SEASONAL FACTOR,2019,99.948,100.027,99.937,100.041,100.008,100.004,100.068,100.142,100.106,99.914,99.942,99.919
1476,SEFB02,"Fresh biscuits, rolls, muffins",CUSR0000SEFB02,SEASONAL FACTOR,2018,100.680,100.511,100.591,99.751,99.368,99.367,99.001,99.249,100.142,100.380,100.511,100.474
3172,SS45011,New cars,CUSR0000SS45011,SEASONAL FACTOR,2019,100.450,100.541,100.288,100.063,100.077,100.107,100.053,99.766,99.519,99.585,99.676,99.936
1367,SEEC02,Delivery services,CUSR0000SEEC02,SEASONALLY ADJUSTED INDEX,2019,309.765,313.452,315.032,317.830,318.158,319.232,318.759,319.025,320.036,322.511,322.560,323.730
4104,SAR,Recreation,CWSR0000SAR,SEASONAL FACTOR,2021,99.890,100.118,100.126,100.050,100.013,100.003,100.013,100.039,100.059,100.002,99.906,99.823
374,SAE21,Information and information processing,CUSR0000SAE21,UNADJUSTED INDEX,2021,71.199,71.208,71.054,71.420,71.508,71.532,71.588,71.831,72.107,72.070,71.974,71.986
2888,SS04011,Bacon and related products,CUSR0000SS04011,SEASONAL FACTOR,2020,99.644,98.723,98.396,98.777,99.130,99.626,100.852,100.928,101.395,101.937,100.946,100.103
4197,SAS367,Other services,CWSR0000SAS367,UNADJUSTED INDEX,2019,329.260,329.929,330.149,330.425,330.093,330.504,330.801,331.827,332.269,333.377,334.522,335.345
960,SASLE,Services less energy services,CUSR0000SASLE,SEASONALLY ADJUSTED INDEX,2017,315.557,316.398,316.298,316.804,317.379,318.046,318.581,319.594,320.320,321.304,321.847,322.767
5384,SEFT04,"Spices, seasonings, condiments, sauces",CWSR0000SEFT04,UNADJUSTED INDEX,2021,251.990,253.780,251.787,252.923,253.312,250.587,251.969,252.580,255.793,258.354,260.512,260.243
4091,SANL13,Nondurables less food and apparel,CWSR0000SANL13,UNADJUSTED INDEX,2018,252.579,254.443,254.083,261.204,268.222,268.732,266.703,266.143,266.590,267.660,258.534,246.658
4371,SEAB,Boys' apparel,CWSR0000SEAB,SEASONAL FACTOR,2018,100.848,100.277,99.926,100.309,100.444,99.135,96.023,97.254,101.306,103.706,101.496,99.324
801,SANL13,Nondurables less food and apparel,CUSR0000SANL13,SEASONAL FACTOR,2018,98.710,98.627,98.859,100.679,101.976,101.586,101.051,100.588,100.328,100.009,99.487,98.121
1326,SEEB03,Day care and preschool,CUSR0000SEEB03,SEASONAL FACTOR,2018,100.000,100.098,100.001,99.849,99.891,99.912,99.820,99.946,100.323,100.284,100.045,99.850
5855,SERA03,Other video equipment,CWSR0000SERA03,SEASONAL FACTOR,2017,97.944,99.390,100.190,101.002,101.465,100.119,100.192,100.064,100.374,101.781,99.673,97.289

In [6]:
df_USA_2018_2019.tail(20)

,ITEM,TITLE,seriesid,DATA_TYPE,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
6205,SS5702,Inpatient hospital services,CWSR0000SS5702,UNADJUSTED INDEX,2017,305.219,308.941,308.831,310.785,310.247,312.017,312.670,313.180,313.163,314.996,315.970,316.021
6206,SS5702,Inpatient hospital services,CWSR0000SS5702,UNADJUSTED INDEX,2018,321.465,322.262,322.726,323.116,323.420,324.752,324.882,323.736,324.249,323.871,323.779,324.164
6207,SS5702,Inpatient hospital services,CWSR0000SS5702,UNADJUSTED INDEX,2019,325.369,325.846,326.503,324.692,326.193,326.156,327.573,329.449,329.280,334.033,334.975,335.168
6208,SS5702,Inpatient hospital services,CWSR0000SS5702,UNADJUSTED INDEX,2020,339.147,338.947,339.856,341.061,341.915,342.395,342.807,341.980,342.974,341.580,342.460,342.190
6209,SS5702,Inpatient hospital services,CWSR0000SS5702,UNADJUSTED INDEX,2021,345.318,345.989,347.197,348.164,348.169,347.843,350.464,353.951,354.026,356.385,355.412,354.945
6210,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONALLY ADJUSTED INDEX,2017,689.826,698.595,700.369,708.572,709.995,714.165,716.433,716.148,718.641,719.273,718.899,721.774
6211,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONALLY ADJUSTED INDEX,2018,728.207,728.443,732.659,734.546,737.430,742.391,744.176,740.043,738.945,738.186,745.368,748.627
6212,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONALLY ADJUSTED INDEX,2019,743.415,742.990,743.529,740.201,743.387,741.714,746.458,753.931,753.861,759.609,761.366,763.790
6213,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONALLY ADJUSTED INDEX,2020,767.627,769.819,770.524,772.521,771.059,773.328,774.441,774.979,780.250,775.366,779.219,781.946
6214,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONALLY ADJUSTED INDEX,2021,783.978,784.166,788.346,788.559,791.285,794.723,796.905,799.357,802.159,804.601,803.050,803.774
6215,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONAL FACTOR,2017,100.250,100.494,100.323,100.424,100.096,99.904,99.828,99.798,99.679,99.982,99.764,99.443
6216,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONAL FACTOR,2018,100.359,100.491,100.376,100.320,99.996,99.849,99.826,99.888,99.685,100.014,99.756,99.427
6217,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONAL FACTOR,2019,100.447,100.491,100.451,100.214,99.892,99.801,99.832,99.938,99.711,100.030,99.764,99.447
6218,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONAL FACTOR,2020,100.498,100.474,100.509,100.154,99.826,99.735,99.825,99.965,99.733,100.072,99.771,99.454
6219,SS5703,Outpatient hospital services,CWSR0000SS5703,SEASONAL FACTOR,2021,100.524,100.471,100.534,100.119,99.792,99.690,99.805,99.983,99.784,100.083,99.771,99.464
6220,SS5703,Outpatient hospital services,CWSR0000SS5703,UNADJUSTED INDEX,2017,691.549,702.049,702.634,711.580,710.677,713.477,715.197,714.699,716.331,719.142,717.199,717.751
6221,SS5703,Outpatient hospital services,CWSR0000SS5703,UNADJUSTED INDEX,2018,730.818,732.020,735.413,736.896,737.403,741.271,742.880,739.217,736.621,738.292,743.548,744.334
6222,SS5703,Outpatient hospital services,CWSR0000SS5703,UNADJUSTED INDEX,2019,746.737,746.640,746.883,741.789,742.588,740.238,745.201,753.464,751.684,759.834,759.573,759.564
6223,SS5703,Outpatient hospital services,CWSR0000SS5703,UNADJUSTED INDEX,2020,771.453,773.468,774.449,773.712,769.718,771.281,773.086,774.711,778.167,775.921,777.438,777.680
6224,SS5703,Outpatient hospital services,CWSR0000SS5703,UNADJUSTED INDEX,2021,788.087,787.860,792.555,789.497,789.636,792.257,795.347,799.221,800.430,805.268,801.215,799.466

In [7]:
for column in df_USA_2018_2019.columns:
    print(check_data_type(df_USA_2018_2019, column), sep = '\n')
    print("Is there any missing NA values for US dataset: ", check_for_na(df_USA_2018_2019, column))

ITEM data type is: object
Is there any missing NA values for US dataset:  False
TITLE data type is: object
Is there any missing NA values for US dataset:  False
seriesid data type is: object
Is there any missing NA values for US dataset:  False
DATA_TYPE data type is: object
Is there any missing NA values for US dataset:  False
YEAR data type is: int64
Is there any missing NA values for US dataset:  False
JAN data type is: float64
Is there any missing NA values for US dataset:  False
FEB data type is: float64
Is there any missing NA values for US dataset:  False
MAR data type is: float64
Is there any missing NA values for US dataset:  False
APR data type is: float64
Is there any missing NA values for US dataset:  False
MAY data type is: float64
Is there any missing NA values for US dataset:  False
JUN data type is: float64
Is there any missing NA values for US dataset:  False
JUL data type is: float64
Is there any missing NA values for US dataset:  False
AUG data type is: float64
Is there any missing NA values for US dataset:  False
SEP data type is: float64
Is there any missing NA values for US dataset:  False
OCT data type is: float64
Is there any missing NA values for US dataset:  False
NOV data type is: float64
Is there any missing NA values for US dataset:  False
DEC data type is: float64
Is there any missing NA values for US dataset:  False

In [8]:
#there are no missing values in the US dataset and all CPI values are float values while YEAR is an integer value that will be converted to datetime format in pandas

In [9]:
for column in df_USA_2018_2019.columns:
    if df_USA_2018_2019[column].dtype == float:
        print(column, " is greater than 0: ", test_unit_less_than_or_greater_than(df_USA_2018_2019, column, 0, "greater_than"))
        print(column, " is less than 1000: ", test_unit_less_than_or_greater_than(df_USA_2018_2019, column, 1000, "less_than"))

JAN  is greater than 0:  True
JAN  is less than 1000:  True
FEB  is greater than 0:  True
FEB  is less than 1000:  True
MAR  is greater than 0:  True
MAR  is less than 1000:  True
APR  is greater than 0:  True
APR  is less than 1000:  True
MAY  is greater than 0:  True
MAY  is less than 1000:  True
JUN  is greater than 0:  True
JUN  is less than 1000:  True
JUL  is greater than 0:  True
JUL  is less than 1000:  True
AUG  is greater than 0:  True
AUG  is less than 1000:  True
SEP  is greater than 0:  True
SEP  is less than 1000:  True
OCT  is greater than 0:  True
OCT  is less than 1000:  True
NOV  is greater than 0:  True
NOV  is less than 1000:  True
DEC  is greater than 0:  True
DEC  is less than 1000:  True

In [10]:
df_USA_2018_2019[(df_USA_2018_2019['TITLE'] == 'All items') & (df_USA_2018_2019['YEAR'] == 2018)].head(20)

,ITEM,TITLE,seriesid,DATA_TYPE,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1,SA0,All items,CUSR0000SA0,SEASONALLY ADJUSTED INDEX,2018,248.743,249.439,249.581,250.146,250.779,251.118,251.323,251.749,252.239,252.862,252.657,252.551
6,SA0,All items,CUSR0000SA0,SEASONAL FACTOR,2018,99.648,99.820,99.989,100.160,100.323,100.347,100.272,100.158,100.079,100.009,99.755,99.478
11,SA0,All items,CUSR0000SA0,UNADJUSTED INDEX,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233
3346,SA0,All items,CWSR0000SA0,SEASONALLY ADJUSTED INDEX,2018,242.911,243.595,243.575,244.142,244.848,245.206,245.343,245.846,246.332,247.007,246.634,246.199
3351,SA0,All items,CWSR0000SA0,SEASONAL FACTOR,2018,99.592,99.751,99.954,100.190,100.377,100.404,100.331,100.199,100.095,100.013,99.716,99.426
3356,SA0,All items,CWSR0000SA0,UNADJUSTED INDEX,2018,241.919,242.988,243.463,244.607,245.770,246.196,246.155,246.336,246.565,247.038,245.933,244.786

In [11]:
#note that there are two sesasonally adjusted indexes for All items for the year 2018. The first one is adjusted the primary time it was looked at - the second one is adjusted 5 years later. Anywhere there is two values we will take the mean of the two values to get the average seasonally adjusted index for the year 2018

#Not all the items in the US dataset are seasonally adjusted twice which is why we take the average.

In [12]:
df_USA_CPI_Formatted = manipulate_data(df_USA_2018_2019, 'USA')

/Users/richardwcheng/Desktop/GoodsComparison2018Tariffs/notebooks/../src/data/make_dataset.py:83: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_USA_Single_Columns_for_2017_2018_2019['REF_DATE'] = pd.to_datetime(df_USA_Single_Columns_for_2017_2018_2019['REF_DATE'])

In [13]:
df_USA_CPI_Formatted.head()
print(df_USA_CPI_Formatted.tail())

            Airline fares  Alcoholic beverages  Alcoholic beverages at home  \
REF_DATE
2019-08-01       269.4125             255.5575                     211.0995
2019-09-01       271.8995             255.2765                     210.2625
2019-10-01       266.7255             255.1010                     210.1070
2019-11-01       264.5130             254.4685                     209.3045
2019-12-01       260.7935             254.9465                     209.5915

            All items  All items less energy  All items less food  \
REF_DATE
2019-08-01   252.9195               258.9410             252.0025
2019-09-01   253.3285               259.4025             252.3970
2019-10-01   254.0700               259.8435             253.1755
2019-11-01   254.5360               260.2590             253.6355
2019-12-01   255.0605               260.5820             254.1795

            All items less food and energy  All items less food and shelter  \
REF_DATE
2019-08-01                        259.7655                          228.198
2019-09-01                        260.2210                          228.287
2019-10-01                        260.6505                          229.166
2019-11-01                        261.0510                          229.512
2019-12-01                        261.3610                          229.921

            All items less food, shelter, and energy  \
REF_DATE
2019-08-01                                   233.499
2019-09-01                                   233.613
2019-10-01                                   234.035
2019-11-01                                   234.302
2019-12-01                                   234.370

            All items less food, shelter, energy, and used cars and trucks  \
REF_DATE
2019-08-01                                            239.080
2019-09-01                                            239.283
2019-10-01                                            239.771
2019-11-01                                            240.162
2019-12-01                                            240.290

            ...  Video and audio services  \
REF_DATE    ...
2019-08-01  ...                   127.279
2019-09-01  ...                   127.743
2019-10-01  ...                   128.391
2019-11-01  ...                   128.809
2019-12-01  ...                   129.846

            Water and sewer and trash collection services  \
REF_DATE
2019-08-01                                       245.5505
2019-09-01                                       246.0770
2019-10-01                                       247.0100
2019-11-01                                       247.4400
2019-12-01                                       247.7565

            Water and sewerage maintenance  Women's and girls' apparel  \
REF_DATE
2019-08-01                        563.8715                    106.8810
2019-09-01                        565.3385                    105.7915
2019-10-01                        567.4405                    103.4320
2019-11-01                        568.6885                    104.2890
2019-12-01                        569.5660                    104.1610

            Women's apparel  Women's dresses  Women's footwear  \
REF_DATE
2019-08-01         109.3850         110.4980          126.3060
2019-09-01         108.1840         110.0680          126.9835
2019-10-01         105.4315         109.8390          126.2630
2019-11-01         106.5340         107.9610          126.6130
2019-12-01         105.9970         107.3245          126.0655

            Women's outerwear  Women's suits and separates  \
REF_DATE
2019-08-01           105.2020                      77.6945
2019-09-01           102.3060                      76.1050
2019-10-01           100.1985                      72.3840
2019-11-01           100.1315                      73.9820
2019-12-01            99.0720                      74.3845

            Women's underwear, nightwear, swimwear, and accessories
REF_DATE
2019-08-01                                           104.7805
2019-09-01                                           105.6370
2019-10-01                                           105.7930
2019-11-01                                           104.7725
2019-12-01                                           104.6180

[5 rows x 223 columns]

In [14]:
for column in df_USA_CPI_Formatted.columns:
    print(column)

Airline fares
Alcoholic beverages
Alcoholic beverages at home
All items
All items less energy
All items less food
All items less food and energy
All items less food and shelter
All items less food, shelter, and energy
All items less food, shelter, energy, and used cars and trucks
All items less medical care
All items less shelter
Apparel
Apparel less footwear
Apples
Appliances
Bacon and related products
Bacon, breakfast sausage, and related products
Beef and veal
Beer, ale, and other malt beverages at home
Beverage materials including coffee and tea
Boys' and girls' footwear
Boys' apparel
Breakfast sausage and related products
Butter
Butter and margarine
Cable and satellite television service
Canned fruits
Canned fruits and vegetables
Canned vegetables
Car and truck rental
Carbonated drinks
Cereals and bakery products
Cereals and cereal products
Citrus fruits
Coffee
College tuition and fees
Commodities
Commodities less food
Commodities less food and beverages
Commodities less food and energy commodities
Commodities less food, energy, and used cars and trucks
Communication
Crackers, bread, and cracker products
Dairy and related products
Day care and preschool
Delivery services
Dental services
Durables
Education
Education and communication
Education and communication commodities
Education and communication services
Electricity
Elementary and high school tuition and fees
Energy
Energy commodities
Energy services
Fats and oils
Fish and seafood
Flour and prepared flour mixes
Food
Food and beverages
Food at home
Footwear
Frankfurters
Fresh biscuits, rolls, muffins
Fresh fruits
Fresh fruits and vegetables
Fresh milk other than whole
Fresh vegetables
Fresh whole milk
Frozen and freeze dried prepared foods
Frozen fish and seafood
Frozen fruits and vegetables
Frozen vegetables
Fruits and vegetables
Fuel oil and other fuels
Fuels and utilities
Gasoline (all types)
Gasoline, unleaded midgrade
Gasoline, unleaded premium
Gasoline, unleaded regular
Girls' apparel
Ham
Ham, excluding canned
Hospital and related services
Hospital services
Household energy
Household furnishings and operations
Household furnishings and supplies
Housing
Housing at school, excluding board
Ice cream and related products
Indoor plants and flowers
Infants' and toddlers' apparel
Information and information processing
Information technology commodities
Information technology, hardware and services
Inpatient hospital services
Jewelry
Jewelry and watches
Juices and nonalcoholic drinks
Lodging away from home
Major appliances
Meats
Meats, poultry, and fish
Meats, poultry, fish, and eggs
Medical care
Medical care services
Men's and boys' apparel
Men's apparel
Men's pants and shorts
Men's shirts and sweaters
Men's suits, sport coats, and outerwear
Milk
Motor fuel
Motor vehicle insurance
New and used motor vehicles
New cars
New cars and trucks
New trucks
New vehicles
Nonalcoholic beverages and beverage materials
Nondurables
Nondurables less food
Nondurables less food and apparel
Nondurables less food and beverages
Nondurables less food, beverages, and apparel
Nonfrozen noncarbonated juices and drinks
Nursing homes and adult day services
Oranges, including tangerines
Other bakery products
Other condiments
Other fats and oils including peanut butter
Other food at home
Other foods
Other fresh fruits
Other fresh vegetables
Other furniture
Other goods
Other goods and services
Other household equipment and furnishings
Other intercity transportation
Other lodging away from home including hotels and motels
Other meats
Other miscellaneous foods
Other pork including roasts, steaks, and ribs
Other processed fruits and vegetables including dried
Other recreation services
Other recreational goods
Other services
Other sweets
Other uncooked poultry including turkey
Other video equipment
Outdoor equipment and supplies
Outpatient hospital services
Owners' equivalent rent of primary residence
Owners' equivalent rent of residences
Parking fees and tolls
Pet services including veterinary
Pets, pet products and services
Photographic equipment
Photographic equipment and supplies
Photography
Pork
Postage
Postage and delivery services
Potatoes
Prepared salads
Private transportation
Processed fish and seafood
Processed fruits and vegetables
Professional services
Propane, kerosene, and firewood
Public transportation
Recreation
Recreation commodities
Recreation services
Rent of primary residence
Rent of shelter
Rice, pasta, cornmeal
Roasted coffee
Salad dressing
Salt and other seasonings and spices
Sauces and gravies
Services
Services less energy services
Services less medical care services
Services less rent of shelter
Shelf stable fish and seafood
Shelter
Soups
Spices, seasonings, condiments, sauces
Stationery, stationery supplies, gift wrap
Sugar and sugar substitutes
Telephone hardware, calculators, and other consumer information items
Televisions
Tomatoes
Tools, hardware, outdoor equipment and supplies
Toys
Toys, games, hobbies and playground equipment
Transportation
Transportation commodities less motor fuel
Transportation services
Tuition, other school fees, and childcare
Uncooked beef steaks
Used cars and trucks
Utilities and public transportation
Utility (piped) gas service
Veterinarian services
Video and audio
Video and audio products
Video and audio services
Water and sewer and trash collection services
Water and sewerage maintenance
Women's and girls' apparel
Women's apparel
Women's dresses
Women's footwear
Women's outerwear
Women's suits and separates
Women's underwear, nightwear, swimwear, and accessories

In [15]:
#see how Education has risen in 2018 and 2019 since 1984 which is the base value of 100
print("Education in the year 2018-2019", " is greater than 0: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 0, "greater_than"))
print("Education in the year 2018-2019", " is greater than 150: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 150, "greater_than"))
print("Education in the year 2018-2019", " is greater than 200: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 200, "greater_than"))
print("Education in the year 2018-2019", " is greater than 250: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 250, "greater_than"))
print("Education in the year 2018-2019", " is greater than 300: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 300, "greater_than"))
print("Education in the year 2018-2019", " is less than 500: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 500, "less_than"))
print("Education in the year 2018-2019", " is less than 800: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Education", 800, "less_than"))

print(df_USA_CPI_Formatted["Education"].describe())

Education in the year 2018-2019  is greater than 0:  True
Education in the year 2018-2019  is greater than 150:  True
Education in the year 2018-2019  is greater than 200:  True
Education in the year 2018-2019  is greater than 250:  True
Education in the year 2018-2019  is greater than 300:  False
Education in the year 2018-2019  is less than 500:  True
Education in the year 2018-2019  is less than 800:  True
count     36.000000
mean     257.233153
std        5.386349
min      249.141500
25%      252.708250
50%      256.296500
75%      262.432750
max      265.989500
Name: Education, dtype: float64

In [16]:
#see how Energy has risen in 2018 and 2019 since 1984 which is the base value of 100
print("Energy in the year 2018-2019", " is greater than 0: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Energy", 0, "greater_than"))
print("Energy in the year 2018-2019", " is greater than 150: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Energy", 150, "greater_than"))
print("Energy in the year 2018-2019", " is greater than 200: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Energy", 200, "greater_than"))
print("Energy in the year 2018-2019", " is greater than 250: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Energy", 250, "greater_than"))
print("Energy in the year 2018-2019", " is less than 500: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Energy", 500, "less_than"))
print("Energy in the year 2018-2019", " is less than 800: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "Energy", 800, "less_than"))

print(df_USA_CPI_Formatted["Energy"].describe())

Energy in the year 2018-2019  is greater than 0:  True
Energy in the year 2018-2019  is greater than 150:  True
Energy in the year 2018-2019  is greater than 200:  True
Energy in the year 2018-2019  is greater than 250:  False
Energy in the year 2018-2019  is less than 500:  True
Energy in the year 2018-2019  is less than 800:  True
count     36.000000
mean     212.957000
std        8.198843
min      195.216000
25%      207.105500
50%      215.038000
75%      219.608500
max      226.467500
Name: Energy, dtype: float64

In [17]:
#see how All-items has risen in 2018 and 2019 since 1984 which is the base value of 100
print("All items in the year 2018-2019", " is greater than 0: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "All items", 0, "greater_than"))
print("All items in the year 2018-2019", " is greater than 150: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "All items", 150, "greater_than"))
print("All items in the year 2018-2019", " is greater than 200: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "All items", 200, "greater_than"))
print("All items in the year 2018-2019", " is greater than 250: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "All items", 250, "greater_than"))
print("All items in the year 2018-2019", " is less than 500: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "All items", 500, "less_than"))
print("All items in the year 2018-2019", " is less than 800: ", test_unit_less_than_or_greater_than(df_USA_CPI_Formatted, "All items", 800, "less_than"))
print(df_USA_CPI_Formatted["All items"].describe())

All items in the year 2018-2019  is greater than 0:  True
All items in the year 2018-2019  is greater than 150:  True
All items in the year 2018-2019  is greater than 200:  True
All items in the year 2018-2019  is greater than 250:  True
All items in the year 2018-2019  is less than 500:  True
All items in the year 2018-2019  is less than 800:  True
count     36.000000
mean     247.543569
std        4.559857
min      240.666500
25%      243.547750
50%      248.247500
75%      251.332125
max      255.060500
Name: All items, dtype: float64

In [18]:
df_Canada_2018_2019.head()

,REF_DATE,GEO,DGUID,Products and product groups,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1914-01,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.200,6.0,NaN,NaN,NaN,1
1,1914-01,Canada,2016A000011124,All-items (1992=100),1992=100,7,units,0,v41713403,2.309,7.2,NaN,NaN,t,1
2,1914-01,Canada,2016A000011124,Goods and services,2002=100,17,units,0,v41691221,2.273,6.0,NaN,NaN,t,1
3,1914-02,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.200,6.0,NaN,NaN,NaN,1
4,1914-02,Canada,2016A000011124,All-items (1992=100),1992=100,7,units,0,v41713403,2.309,7.2,NaN,NaN,t,1

In [19]:
df_Canada_2018_2019.tail(10)

,REF_DATE,GEO,DGUID,Products and product groups,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1112803,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Private transportation excluding gasoline,2002=100,17,units,0,v43972175,30.312,157.3,NaN,NaN,NaN,1
1112804,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Food and energy,2002=100,17,units,0,v41692840,30.286,205.7,NaN,NaN,NaN,1
1112805,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Fresh fruit and vegetables,2002=100,17,units,0,v41692838,30.294,219.2,NaN,NaN,NaN,1
1112806,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Energy,2002=100,17,units,0,v41692842,30.288,241.7,NaN,NaN,NaN,1
1112807,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Goods,2002=100,17,units,0,v41692830,30.274,156.8,NaN,NaN,NaN,1
1112808,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Durable goods,2002=100,17,units,0,v41692831,30.275,114.1,NaN,NaN,NaN,1
1112809,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Semi-durable goods,2002=100,17,units,0,v41692832,30.276,108.1,NaN,NaN,NaN,1
1112810,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Non-durable goods,2002=100,17,units,0,v41692833,30.277,195.6,NaN,NaN,NaN,1
1112811,2024-12,"Yellowknife, Northwest Territories",2011A00056106023,Services,2002=100,17,units,0,v41692834,30.282,161.5,NaN,NaN,NaN,1
1112812,2024-12,"Iqaluit, Nunavut",2011A00056204003,All-items,2002=100,17,units,0,v41713432,31.200,144.1,NaN,NaN,NaN,1

In [20]:
for column in df_Canada_2018_2019.columns:
    print(check_data_type(df_Canada_2018_2019, column), sep = '\n')
    print("Is there any missing NA values: ", check_for_na(df_Canada_2018_2019, column))

REF_DATE data type is: object
Is there any missing NA values:  False
GEO data type is: object
Is there any missing NA values:  False
DGUID data type is: object
Is there any missing NA values:  True
Products and product groups data type is: object
Is there any missing NA values:  False
UOM data type is: object
Is there any missing NA values:  False
UOM_ID data type is: int64
Is there any missing NA values:  False
SCALAR_FACTOR data type is: object
Is there any missing NA values:  False
SCALAR_ID data type is: int64
Is there any missing NA values:  False
VECTOR data type is: object
Is there any missing NA values:  False
COORDINATE data type is: float64
Is there any missing NA values:  False
VALUE data type is: float64
Is there any missing NA values:  False
STATUS data type is: object
Is there any missing NA values:  True
SYMBOL data type is: float64
Is there any missing NA values:  True
TERMINATED data type is: object
Is there any missing NA values:  True
DECIMALS data type is: int64
Is there any missing NA values:  False

In [21]:
#There seems to be missing values in DGUID, STATUS, SYMBOL, and TERMINATED but we are not using those columns and dropping them when we manipulate the data

In [22]:
#UOM is an object that has multiple unique values due to the CPI index being relative to the base year - we chose the year of 2002 as the base year for the Canadian dataset

df_Canada_CPI_Formatted = manipulate_data(df_Canada_2018_2019, 'Canada')

UOM has two unique values in the dataset:  ['2002=100' '2013=100' '2017=100' '200212=100' '201104=100' '200704=100'
 '1992=100' '201812=100']
UOM now only has 2002 value:  ['2002=100']

In [31]:
#Our dataset now has 3 columns for the years 2017, 2018, and 2019 with Products and product groups arranged in order. The base year is 2002.
df_Canada_CPI_Formatted.head(50)

   Products and product groups   REF_DATE       VALUE
0           Air transportation 2017-01-01  134.800000
1           Air transportation 2017-02-01  135.200000
2           Air transportation 2017-03-01  133.700000
3           Air transportation 2017-04-01  134.700000
4           Air transportation 2017-05-01  139.400000
5           Air transportation 2017-06-01  140.300000
6           Air transportation 2017-07-01  144.200000
7           Air transportation 2017-08-01  143.000000
8           Air transportation 2017-09-01  140.400000
9           Air transportation 2017-10-01  144.300000
10          Air transportation 2017-11-01  141.500000
11          Air transportation 2017-12-01  146.400000
12          Air transportation 2018-01-01  151.300000
13          Air transportation 2018-02-01  150.800000
14          Air transportation 2018-03-01  155.100000
15          Air transportation 2018-04-01  150.700000
16          Air transportation 2018-05-01  151.200000
17          Air transportation 2018-06-01  158.800000
18          Air transportation 2018-07-01  184.800000
19          Air transportation 2018-08-01  180.800000
20          Air transportation 2018-09-01  150.800000
21          Air transportation 2018-10-01  157.800000
22          Air transportation 2018-11-01  154.200000
23          Air transportation 2018-12-01  187.600000
24          Air transportation 2019-01-01  157.500000
25          Air transportation 2019-02-01  156.500000
26          Air transportation 2019-03-01  159.000000
27          Air transportation 2019-04-01  160.700000
28          Air transportation 2019-05-01  164.600000
29          Air transportation 2019-06-01  169.500000
30          Air transportation 2019-07-01  193.300000
31          Air transportation 2019-08-01  199.500000
32          Air transportation 2019-09-01  160.500000
33          Air transportation 2019-10-01  163.500000
34          Air transportation 2019-11-01  161.000000
35          Air transportation 2019-12-01  198.600000
36         Alcoholic beverages 2017-01-01  133.453846
37         Alcoholic beverages 2017-02-01  133.592308
38         Alcoholic beverages 2017-03-01  133.484615
39         Alcoholic beverages 2017-04-01  134.030769
40         Alcoholic beverages 2017-05-01  134.400000
41         Alcoholic beverages 2017-06-01  134.253846
42         Alcoholic beverages 2017-07-01  134.684615
43         Alcoholic beverages 2017-08-01  135.153846
44         Alcoholic beverages 2017-09-01  135.330769
45         Alcoholic beverages 2017-10-01  135.046154
46         Alcoholic beverages 2017-11-01  135.292308
47         Alcoholic beverages 2017-12-01  135.169231
48         Alcoholic beverages 2018-01-01  135.661538
49         Alcoholic beverages 2018-02-01  136.038462

In [23]:
#see the range of CPI index for Canada in 2018 and 2019 for any item
print("VALUE column for all types of products in the year 2018-2019", " is greater than 0: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 0, "greater_than"))
print("VALUE column for all types of products in the year 2018-2019", " is greater than 100: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 100, "greater_than"))
print("VALUE column for all types of products in the year 2018-2019", " is greater than 140: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 140, "greater_than"))
print("VALUE column for all types of products in the year 2018-2019", " is greater than 150: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 150, "greater_than"))
print("VALUE column for all types of products in the year 2018-2019", " is greater than 200: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 200, "greater_than"))
print("VALUE column for all types of products in the year 2018-2019", " is greater than 250: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 250, "greater_than"))
print("VALUE column for all types of products in the year 2018-2019", " is less than 500: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 500, "less_than"))
print("VALUE column for all types of products in the year 2018-2019", " is less than 800: ", test_unit_less_than_or_greater_than(df_Canada_CPI_Formatted, "VALUE", 800, "less_than"))

VALUE column for all types of products in the year 2018-2019  is greater than 0:  True
VALUE column for all types of products in the year 2018-2019  is greater than 100:  True
VALUE column for all types of products in the year 2018-2019  is greater than 140:  True
VALUE column for all types of products in the year 2018-2019  is greater than 150:  True
VALUE column for all types of products in the year 2018-2019  is greater than 200:  True
VALUE column for all types of products in the year 2018-2019  is greater than 250:  True
VALUE column for all types of products in the year 2018-2019  is less than 500:  True
VALUE column for all types of products in the year 2018-2019  is less than 800:  True

In [24]:
print("VALUE column for all type of products is between 15 and 260", test_unit_between(df_Canada_CPI_Formatted, "VALUE", 15, 260))

print(df_Canada_CPI_Formatted["VALUE"].describe())
print("Describe Education for Canadian Dataset: ", sep='/n')
print(df_Canada_CPI_Formatted[df_Canada_CPI_Formatted['Products and product groups']=="Education"]["VALUE"].describe())
print("Describe Energy for Canadian Dataset: ", sep='/n')
print(df_Canada_CPI_Formatted[df_Canada_CPI_Formatted['Products and product groups']=="Energy"]["VALUE"].describe())

VALUE column for all type of products is between 15 and 260 True
count    9732.000000
mean      132.946754
std        32.295122
min        17.200000
25%       113.300000
50%       135.230769
75%       151.000000
max       253.881818
Name: VALUE, dtype: float64
Describe Education for Canadian Dataset:
count     36.000000
mean     158.578535
std        3.500572
min      153.272727
25%      157.209091
50%      157.400000
75%      161.915909
max      162.936364
Name: VALUE, dtype: float64
Describe Energy for Canadian Dataset:
count     36.000000
mean     162.345513
std        7.729275
min      149.123077
25%      156.375000
50%      163.419231
75%      168.696154
max      174.592308
Name: VALUE, dtype: float64

In [25]:
#It seems like the values for American dataset are much higher than the Canadian dataset. This is because the base year for the American dataset is 1984 while the base year for the Canadian dataset is 2002. This means that the Canadian dataset is indexed to 2002 = 100 while the American dataset is indexed to 1984 = 100. This means that the American dataset will have higher values than the Canadian dataset.
#It may be important to standardize the datasets when doing differences in differences for eventual comparison purposes but the numbers of CPI index appear to make sense.

In [26]:
df_Canada_CPI_Formatted

  Products and product groups   REF_DATE  VALUE
0          Air transportation 2017-01-01  134.8
1          Air transportation 2017-02-01  135.2
2          Air transportation 2017-03-01  133.7
3          Air transportation 2017-04-01  134.7
4          Air transportation 2017-05-01  139.4

In [27]:
save_data(df_USA_CPI_Formatted, '../data/processed/USA_CPI_Processed_2018_2019.csv')
save_data(df_Canada_CPI_Formatted, '../data/processed/Canada_CPI_Processed_2018_2019.csv')

     Products and product groups   REF_DATE  VALUE
0             Air transportation 2017-01-01  134.8
1             Air transportation 2017-02-01  135.2
2             Air transportation 2017-03-01  133.7
3             Air transportation 2017-04-01  134.7
4             Air transportation 2017-05-01  139.4
...                          ...        ...    ...
9727            Wooden furniture 2019-08-01   94.4
9728            Wooden furniture 2019-09-01   94.5
9729            Wooden furniture 2019-10-01   94.5
9730            Wooden furniture 2019-11-01   96.8
9731            Wooden furniture 2019-12-01   96.8

[9732 rows x 3 columns]